a {
	font-size: inherit;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	color: inherit;
	transition: color ease .15s;
}

.link {
	position: relative;
	font-size: inherit;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	color: inherit;
	&--default {
		color: $primary;
		&:hover {
			color: darken($primary, 10%);
		}
	}
	&--white {
		color: $white;
		&:hover {
			color: $primary;
		}
	}
	&--primary {
		color: $primary;
		&:hover {
			color: $white;
		}
	}
	&--underline {
		&:before {
			z-index: 1;
			content: '';
			position: absolute;
			left: 0;
			bottom: -6px;
			width: 100%;
			height: 4px;
			background-color: $primary;
			transform: scaleX(0);
			transition: transform .2s ease;
		}
		&:hover {
			color: $primary;
			&:before {
				transform: scaleX(1);
			}
		}
		&-active {
			&:after {
				z-index: 0;
				content: '';
				position: absolute;
				left: 0;
				bottom: -6px;
				width: 100%;
				height: 4px;
				background-color: $white;
			}
		}
	}
	&--underline-default {
		text-decoration: underline;
	}
}

// Sticky footer

.page {
	min-height: 100vh;
	position: relative;
	@include flexbox();
	@include flex-direction(column);
}

.main {
	@include flex(1);
}

.menu-is-open {
	overflow: hidden;
	.header--visible {
		.header__nav-item .link {
			color: $white;
		}
		.header__menu {
			span {
				background: $white;
			}
		}
	}
}

[placeholder] {
	text-overflow: ellipsis;
}

*::selection {

  color: $white;
  background: $primary;

}

// Container

.container {
	
	max-width: $container-width;
	margin-right: auto;
	margin-left: auto;
	padding-left: 48px;
	padding-right: 48px;
	
	&--header {
		max-width: $container-header;
	}
	
	@media (max-width: ($screen-md-max)) {
		
		padding-left: 24px;
		padding-right: 24px;
		
	}
			
	@media (max-width: $screen-xs-max) {
		
		padding-left: 12px;
		padding-right: 12px;
		
	}
	
}

// Button

.btn {
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration: none;
	border: 1px solid $primary;
	background-color: transparent;
	color: $primary;
	padding: 16px 32px;
	font-size: 16px;
	line-height: 1;
	border-radius: 4px;
	transition: .15s ease;
	&:hover {
		background-color: $primary;
		color: $white;
	}
	&:active {
		background-color: darken($primary, 10%);
	}
	&--head {
		padding: 11px 37px;
		border-radius: 5px;
		border-color: $white;
		color: $white;
		&:hover {
			background-color: rgba(0,176,211, 0.3)
		}
	}
	&--white {
		font-size: 18px;
		font-weight: 800;
		text-transform: uppercase;
		background-color: $white;
		color: $black;
	}
}

// Loading spinner

.gallery-loading {
	
	@include flexbox();
	@include justify-content(center);
	
	margin: 0 0 24px;
	
	.svg-spinner{
		-webkit-transition-property: -webkit-transform;
		-webkit-transition-duration: 2s;
		-webkit-animation-name: rotate;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
		
		-moz-transition-property: -moz-transform;
		-moz-animation-name: rotate;
		-moz-animation-duration: 2s;
		-moz-animation-iteration-count: infinite;
		-moz-animation-timing-function: linear;
		
		transition-property: transform;
		animation-name: rotate;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
	
	@-webkit-keyframes rotate {
		from {-webkit-transform: rotate(0deg);}
		to {-webkit-transform: rotate(360deg);}
	}
	
	@-moz-keyframes rotate {
		from {-moz-transform: rotate(0deg);}
		to {-moz-transform: rotate(360deg);}
	}
	
	@keyframes rotate {
		from {transform: rotate(0deg);}
		to {transform: rotate(360deg);}
	}
	
}

// Title

.section-title {
	margin-bottom: 30px;
	&__txt {
		margin-bottom: 20px;
		font-size: 32px;
		font-weight: 800;
		text-transform: uppercase;
		color: $dark-gray;
	}
	&__deco {
		@include flexbox();
		span {
			width: 50px;
			height: 5px;
			&:nth-child(1) {
				background-color: $blue;
			}
			&:nth-child(2) {
				background-color: $green;
			}
			&:nth-child(3) {
				background-color: $yellow;
			}
			&:nth-child(4) {
				background-color: $red;
			}
		}
	}
}
