// MAIN SECTION

.main {
	&-banner {
		position: relative;
		overflow: hidden;
		.swiper-container-main {
			height: 100vh;
			width: 100%;
			.swiper-slide {
				background-image: url("../images/event-page-bg.jpg");
				background-position: center;
				background-size: cover;
				@include flexbox();
				@include flex-direction(column);
				@include justify-content(center);
				@include align-items(center);
				padding: 0 16px;
				&__date {
					margin-bottom: 48px;
					font-size: 24px;
					font-weight: 800;
					color: $white;
				}
				&__title {
					margin-bottom: 48px;
					text-align: center;
					font-size: 108px;
					font-weight: 800;
					line-height: 1.2;
					text-transform: uppercase;
					color: $white;
				}
				&__place {
					font-size: 24px;
					font-style: italic;
					color: #fefefe;
				}
				// test
				&:nth-child(2) {
					background-image: url("../images/event-page-bg-01.jpg");
				}
			}
		}
	}
	@media screen and (max-width: $screen-sm-max) {
		&-banner {
			.swiper-container-main {
				.swiper-slide {
					&__date {
						margin-bottom: 32px;
					}
					&__title {
						margin-bottom: 36px;
						font-size: 82px;
					}
				}
			}
		}
	}
	@media screen and (max-width: $screen-xs-max) {
		&-banner {
			.swiper-container-main {
				.swiper-slide {
					&__title {
						font-size: 48px;
					}
				}
			}
		}
	}
}

// EVENTS

.events {
	padding: 100px 0;
	&-list {
		@include flexbox();
		@include flex-wrap(wrap);
		margin: 0 -10px;
		&__item {
			position: relative;
			width: calc((100% - 80px) / 4);
			margin: 0 10px 20px;
			height: 460px;
			outline: 1px solid #e5e4e9;
			.image {
				height: 200px;
				background-image: url("../images/events-test.jpg");
				background-position: center;
				background-size: cover;
			}
			.details {
				@include flexbox();
				@include flex-direction(column);
				@include justify-content(space-between);
				@include align-items(center);
				height: calc(100% - 200px);
				padding: 15px 20px 20px;
				text-align: center;
				&__date {
					margin: 0 0 10px;
					font-style: italic;
				}
				&__title {
					font-size: 22px;
					font-weight: 800;
				}
				&__location {
					margin: 0 0 10px;
					font-style: italic;
				}
				&__price {
					font-size: 22px;
					font-weight: 800;
					color: $green;
				}
			}
			&:nth-child(1) {
				width: calc((100% - 80px) / 2 + 20px);
				padding: 30px;
				.image {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: -1;
					height: auto;
				}
				.details {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					height: 100%;
					@include justify-content(flex-end);
					@include align-items(flex-start);
					&__date {
						margin-bottom: 16px;
						font-size: 22px;
						font-style: italic;
						color: $white;
					}
					&__title {
						margin-bottom: 16px;
						font-size: 32px;
						font-weight: 800;
						color: $white;
					}
					&__location {
						font-size: 22px;
						font-style: italic;
						color: $white;
					}
				}
			}
			.stub {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-image: linear-gradient(to top, #aa272f 0%, #ff7000 100%);
				opacity: 0;
				transition: .15s ease;
				
				@include flexbox();
				@include flex-direction(column);
				@include justify-content(center);
				@include align-items(center);
				
				&__title {
					margin-bottom: 25px;
					font-size: 22px;
					font-weight: 800;
					text-transform: uppercase;
					color: $white;
				}
			}
			&:hover {
				.stub {
					opacity: .95;
					.btn {
						opacity: 1;
					}
				}
			}
		}
	}
	@media screen and (max-width: 1280px) {
		&-list {
			&__item {
				width: calc((100% - 60px) / 3);
				&:nth-child(1) {
					width: calc(((100% - 60px) / 3) * 2  + 20px);
				}
			}
		}
	}
	@media screen and (max-width: $screen-sm-max) {
		&-list {
			&__item {
				height: 400px;
				width: calc((100% - 40px) / 2);
				&:nth-child(1) {
					width: 100%;
				}
			}
		}
	}
	@media screen and (max-width: $screen-xs-max) {
		&-list {
			&__item {
				width: 100%;
			}
		}
	}
}

// PARTIES

.parties {
	padding-bottom: 100px;
	&__list {
		position: relative;
		height: 410px;
		padding-bottom: 40px;
		overflow: hidden;
		.swiper-container-parties {
			height: 100%;
			.swiper-slide {
				.image {
					z-index: -1;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background-image: url("../images/events-test.jpg");
					background-position: center;
					background-size: cover;
				}
				.description {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					padding: 20px 20px 30px;
					@include flexbox();
					@include flex-direction(column);
					@include justify-content(flex-end);
					&__date {
						margin-bottom: 20px;
						font-size: 22px;
						font-style: italic;
						color: $white;
						@media screen and (max-width: $screen-xs-max) {
							font-size: 16px;
						}
					}
					&__title {
						font-size: 32px;
						font-weight: 800;
						text-transform: uppercase;
						color: $white;
						@media screen and (max-width: $screen-xs-max) {
							font-size: 22px;
						}
					}
				}
			}
		}
	}
}

// EVENT PAGE

.page-event {
	.main {
		padding-top: 0;
		&-banner {
			height: 400px;
			padding: 80px 0 46px;
			background-image: url("../images/event-page-bg.jpg");
			background-size: cover;
			background-position: center;
			overflow: auto;
			&__inner {
				.title {
					margin-bottom: 22px;
					font-size: 32px;
					font-weight: 800;
					color: $white;
					text-transform: uppercase;
				}
				.categories {
					@include flexbox();
					&__item {
						font-size: 14px;
						text-transform: uppercase;
						color: $yellow;
						&:not(:last-child) {
							margin-right: 20px;
						}
					}
				}
			}
			
			.container {
				height: 100%;
				
				@include flexbox();
				@include flex-direction(column);
				@include justify-content(flex-end);
			}
			
			
			
		}
	}
	.info {
		@include flexbox();
		padding: 40px 0 60px;
		&__aside {
			position: relative;
			min-width: 330px;
			width: 330px;
			margin-right: 60px;
			.details {
				margin: -55px 0 55px;
				padding: 26px 15px 20px;;
				background-color: $white;
				box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
				&__item {
					margin-bottom: 32px;
					font-size: 18px;
					@include flexbox();
					@include align-items(center);
					&-img {
						min-width: 50px;
					}
				}
				&__date {
					max-width: 210px;
					font-style: italic;
				}
				&__place {
					max-width: 260px;
					font-style: italic;
					img {
						margin-left: 4px;
					}
				}
				&__price {
					font-weight: 800;
					text-transform: uppercase;
				}
				&__actions {
					@include flexbox();
					@include justify-content(center);
				}
			}
			.main-events {
				&__title {
					margin-bottom: 20px;
					font-size: 22px;
					font-weight: 800;
					text-transform: uppercase;
				}
				&__slider {
					height: 370px;
					padding-bottom: 40px;
					overflow: hidden;
					.swiper-container-parties {
						height: 100%;
						.swiper-slide {
							.image {
								z-index: -1;
								position: absolute;
								top: 0;
								left: 0;
								right: 0;
								bottom: 0;
								background-image: url("../images/events-test.jpg");
								background-position: center;
								background-size: cover;
							}
							.description {
								position: absolute;
								top: 0;
								left: 0;
								right: 0;
								bottom: 0;
								padding: 20px 20px 30px;
								@include flexbox();
								@include flex-direction(column);
								@include justify-content(flex-end);
								&__date {
									margin-bottom: 20px;
									font-size: 22px;
									font-style: italic;
									color: $white;
								}
								&__title {
									font-size: 32px;
									font-weight: 800;
									text-transform: uppercase;
									color: $white;
								}
							}
						}
					}
				}
			}
		}
	}
	.about {
		&__title {
			margin-bottom: 30px;
			font-size: 18px;
			font-weight: bold;
		}
		&__txt {
			margin-bottom: 24px;
			line-height: 1.2;
		}
	}
	@media screen and (max-width: $screen-sm-max) {
		.info {
			display: block;
			&__aside {
				@include flexbox();
				@include justify-content(space-between);
				min-width: 0;
				width: 100%;
				margin-right: 0;
				.details {
					@include align-self(flex-start);
					width: 47%;
				}
				.main-events {
					width: 47%;
					margin: -55px 0 15px;;
					&__title {
						display: none;
					}
				}
			}
		}
	}
	@media screen and (max-width: $screen-xs-max) {
		.info {
			&__aside {
				display: block;
				.details {
					width: 100%;
				}
				.main-events {
					display: none;
				}
			}
		}
	}
}

